/* GENERAL */

html,
body {
  background-color: white;
  letter-spacing: 0.04em;
  font-family: 'Lato', sans-serif;
}

#body-about,
#body-contact {
  background-color: whitesmoke;
}


/* NAVIGATION CUSTOM*/

.bg-faded {
  background-color: white;
}

.nav-primary {
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}

.nav-primary .navbar-light .navbar-toggler {
  border: none;
}

.nav-primary .navbar-light .navbar-nav a {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
}

.nav-primary .navbar-light .navbar-nav a:hover {
  color: #09c372;
}

.nav-primary button:focus {
  outline: none !important;
}

.brand-cust {
  color: #09c372 !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

.brand-cust:hover {
  color: #09c372;
}

.cta-nav {
  border-color: #09c372;
  color: #09c372;
}

.cta-nav:hover {
  border-color: #09c372;
  background-color: #09c372;
  color: white;
}


/* FOOTER */

.footer-cust {
  background-color: #546E7A;
  color: white;
  text-align: left;
}

.footer-cust h3 {
  margin-bottom: 3rem;
  color: #09c372;
}

.footer-cust p {
  margin-bottom: .25rem;
}

.partner img {
  width: 150px;
}

.footer-cust .follow {
  font-size: 28px !important;
}

.container-footer {
  padding: 4rem 0 2rem 0 !important;
}

.footer-cust .media {
  margin-bottom: 1.5rem;
}

.footer-cust a {
  color: #09c372;
  text-decoration: none;
}

.footer-bar p {
  margin-right: 1rem;
}

.contact-content,
.follow-content {
  margin-bottom: 3rem;
}

.contact-content p:last-child {
  margin-bottom: 2rem;
}


/*END GENERAL*/


/* JUMBOTRON */

#jumb-home-custom {
  position: relative;
  overflow: hidden;
  margin-top: 56px;
  margin-bottom: 0;
  min-height: 55vh;
  background-image: url(/img/jumb_home.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#jumb-process-custom {
  margin-top: 56px;
  margin-bottom: 0;
  min-height: 55vh;
  background-image: url(/img/jumb_bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.container-jumb-headline {
  z-index: 2;
  color: #ffffff;
}

.container-jumb-headline p {
  margin-bottom: 2rem;
}

.cta-jumb {
  border: none;
  background: #09c372;
}

.cta-jumb:hover {
  border: none;
  background: #08B268;
}

#main-video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}


/* FEATURED */

#featured {
  padding: 2rem 0 2rem 0;
  background-color: whitesmoke;
}

#featured i {
  margin-bottom: 1rem;
  color: #09c372;
  font-size: 50px;
}

#featured p {
  text-align: center;
}


/* PRODUCT PRESENT */

.present-content1,
.present-content2,
.present-content3 {
  padding: 3rem 0 3rem 0;
  opacity: 0;
}

.present-content1 li,
.present-content2 li,
.present-content3 li {
  padding-bottom: 20px;
  list-style-type: none;
}

.present-text h2 {
  margin: 0 0 1.25rem 0;
  color: black;
  font-weight: 800;
  font-size: 32px;
}

.present-text ul {
  line-height: 2;
}

.panel-separator {
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}

.line-h2 {
  width: 35vw;
  border-bottom: 3px solid black;
  border-radius: 50px;
}


/* KNOW ABOUT */

#know-about {
  padding: 5rem 0 4.5rem;
  background-color: #546E7A;
  color: white;
}

#know-about .btn {
  display: inline-block;
}

#know-about h2 {
  font-weight: 600;
}


/* INTEREST */

#interest {
  padding: 4rem 0 3.5rem 0;
}

#interest .btn {
  width: 200px;
  border-radius: 2px;
}

#interest a {
  margin: 5px 0;
}

#interest h2 {
  font-weight: 600;
}

.cta-interest1,
.cta-interest2 {
  font-weight: 600;
  font-size: 16px;
}

.cta-interest1 {
  margin-right: 0.5rem;
  border-color: #09c372;
  background-color: #09c372;
}

.cta-interest2 {
  margin-left: 0.5rem;
}

.cta-interest1:hover {
  border-color: #08b268;
  background-color: #08b268;
}

.cta-interest2:hover {
  border-color: #999;
  background-color: transparent;
  color: #666;
}

/* SOLUTION PAGE */

#procede {
  padding: 3rem 0;
}

#procede h2 {
  margin-bottom: 5rem;
}

/* ARTICLE PAGE */

.article {
  margin-top: 61px;
}

.article h1 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
}

.post {
  padding: 2rem;
  background-color: white;
}

.img-post {
  overflow: hidden;
  max-height: 400px;
}

.post-more .btn {
  border-color: #09c372;
  border-radius: 2px;
  color: #09c372;
}

.post-more .btn:hover {
  border-color: #08b268;
  background-color: #08b268;
  color: white;
}


/* ABOUT US PAGE */

#our-mission {
  margin-top: 90px;
  margin-bottom: 2rem;
  padding: 3rem 0 3rem 0;
  background-color: white;
  text-align: center;
}

#our-mission h1 {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 32px;
}

#about-us {
  margin-bottom: 2rem;
  padding: 3rem 2rem;
  background-color: white;
}

#about-us h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
}

#partnership {
  margin-bottom: 2rem;
  padding: 3rem 0 3rem 0;
  background-color: white;
}

#partnership h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
}

#team {
  margin-bottom: 2rem;
  padding: 3rem 0 3rem 0;
  background-color: white;
}

#team h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
}

.leader {
  padding: 2rem 1.25rem;
}

.leader img {
  margin-bottom: 1rem;
  border-radius: 100%;
}

.leader h3 {
  font-size: 20px;
}


/* CONTACT PAGE */

.contact {
  margin-top: 61px;
  padding: 3rem 0 3rem 0;
}

.social-contact-page {
  margin-bottom: 0.75rem;
}

.social-contact-page a {
  color: #09c372;
  font-size: 32px;
}

.contact h2 {
  font-weight: 600;
}

.contact .lead {
  margin-bottom: 2rem;
}

.contact-page-content {
  padding: 3rem 0;
}

.contact h4 {
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.contact .btn {
  border-color: #09c372

  background-color: #09c372;
}

.contact .btn:hover {
  border-color: #08b268;
  background-color: #08b268;
}

.maps iframe {
  width: 100%;
}

/* DEVIS PAGE */

#devis {
  margin-top: 61px;
  padding: 3rem 0;
}

#devis-form {
  padding: 1.5rem 0 3rem 0;
}

#devis h1 {
  font-weight: 600;
  font-size: 32px;
}


/* MEDIA */

@media (max-width: 446px) {
  .cta-interest1,
  .cta-interest2 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 576px) {
  .navbar .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .present-content {
    margin-bottom: 3rem;
  }
  .maps {
    margin-bottom: 2rem;
  }
}

@media (max-width: 991px) {

  #navbarSupportedContent {
    text-align: center;
  }

  #presentation ul {
    padding: 0;
  }

  #presentation h2 {
    margin-top: 0 !important;
  }

  .present-text {
    text-align: center;
    margin-bottom: 2rem;
  }

  .list-icon-1:before,
  .list-icon-2:before,
  .list-icon-3:before,
  .list-icon-4:before { /*list-icon-2 3 4 ect*/
    display: block;
    height: 40px;
    content: "\f015";
    font-size: 1.75rem;
    font-family: FontAwesome;
  }

  .present-text h2 {
    margin-top: 1rem !important;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 70px;
  }
}

@media (min-width: 992px) {
  .list-icon{
  position: relative;
}

.list-icon-1:before,
.list-icon-2:before,
.list-icon-3:before,
.list-icon-4:before {
  position: absolute;
  top: -12px;
  left: -45px;
  display: inline-block;
  content: "\f015";
  font-size: 1.75rem;
  font-family: FontAwesome;
}

}
